<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm">

          <%= bootstrap_form_for @album do |f| %>
            <%= f.text_field :name %>
            <%= f.text_field :album_url %>
            <%= f.text_field :description %>
            <%= f.submit "Edit" %>
          <% end %>

        </div>
      </div>
    </div>
  </body>
</html>
