<%= form_for @album do |f| %>
<h3> <%= f.label :Name %></h3>
  <%= f.text_field :name %>
<h3> <%= f.label :Cover_Photo %></h3>
  <%= f.text_field :album_url %>
<h3> <%= f.label :description %></h3>
  <%= f.text_field :description %>
  <%= f.submit "Edit" %>
<% end %>
