<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Album</title>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm">
            <%= form_for @album do |f| %>

            <p>  <%= f.label :Name %></p>
            <%= f.text_field :name %>
            <p><%= f.label :Cover_Photo %></p>
            <%= f.text_field :album_url %>
            <p><%= f.label :Description %></p>
            <%= f.text_field :description %>
            <br><br />
            <%= f.submit "Create", :class => 'btn btn-outline-primary' %>
            <% end %>
        </div>
      </div>
    </div>

  </body>
</html>
