<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">

      <%=@photo.name %> <br />
    <div class="photo-img"><%= image_tag @photo.image_url %> </div> <br /> 
      <%= link_to 'Back', :back %>


      <hr>

      <%= render 'comments/comments' %>
      <%= render 'comments/form' %>

    </div>
  </body>
</html>
