<!DOCTYPE html>
<html>
  <head>
    <title>PhotoAlbum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
  <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/albums"><img src="https://icon-library.net/images/photo-album-icon-png/photo-album-icon-png-23.jpg" alt="photo-svg" class='svg' />PhotoAlbum</a>
    <ul class="navbar-nav ml-auto">


      <li class="nav-item active">
        <a class="nav-link" href="/photos">All photos</a>
      </li>
      <li class="nav-item active">
        <%= link_to "create album", new_album_path, :class => 'nav-link btn', :id => 'create-album' %>

      </li>
      <li class="nav-item active">
        <%= link_to "add photos", new_photo_path, :class => 'nav-link btn', :id => 'add-photos' %>
      </li>

      <li class="dropdown nav-link">
    <a href="#" class="dropdown-toggle profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% if user_signed_in? %>
      <li><%= link_to "Edit profile", edit_user_registration_path %></li>
      <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
      <% if user_signed_in? %>
      <li role="separator" class="divider"></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </li>

      </ul>
  </nav>
</div>
<br>
    <%= yield %>
  </body>
</html>
